body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  height: 100vh;
  width:100vw;
  background-color: #c2b880;
}

h1 {
    margin-bottom: 0px;
}

.main-logo, .sandwich-image {
    max-width: 200px;
    max-height: 200px;
    margin: 0px;
}

.top-container {
    position: absolute;
}

.welcome {
    position: relative;
    z-index: 2;
    bottom: 30px;
}

.order-here {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
}

.sandwich-image {
    border-radius: 16px;
    margin: 20px;
    height: 150px;
    width: 190px;
}

.image-and-prices {
    display: flex;
    flex: start;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.sizes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item {
    border-style: solid;
    border-radius: 16px;
    padding: 20px;
    margin: 20px;
    background-color: blanchedalmond;
}

.price-individual, .buttons, .item-price {
    padding: 2px;
}

.menu {
    position: relative;
    z-index: 3;
    top: -20px;
}