body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  min-height: 100vh;
  max-width: 1200px;
  background-color: #c2b880;
}

h1 {
    margin-bottom: 0px;
}

.main-logo, .sandwich-image {
    max-width: 200px;
    max-height: 200px;
    margin: 0px;
}

.top-container {
    /* position: absolute; */
}

.welcome {
    /* position: relative; */
    /* z-index: 2; */
    /* bottom: 30px; */
    margin-top: 0;
    margin-bottom: 32px;
}

.order-here {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
}

.sandwich-image {
    border-radius: 16px;
    margin: 20px;
    height: 150px;
    width: 190px;
}

.image-and-prices {
    display: flex;
    flex: start;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.how-many {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 10px;
    top: 40px;
}

.item-title {
    font-size: 1.3rem;
}

.sizes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item {
    border-style: solid;
    border-radius: 16px;
    padding: 32px;
    margin-top: 20px;
    margin-bottom: 32px;
    background-color: blanchedalmond;
}

.price-individual, .buttons, .item-price {
    padding: 2px;
}

.menu {
    /* position: relative; */
    width: 80%;
    margin: auto;
}

.total-amount-and-price {
    border-style: solid;
    width: 30%;
    border-radius: 16px;
    padding: 16px;
    gap: 10px;
    background-color: blanchedalmond;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttons {
    width: 60%;
    text-align: center;
}

.place-order-button {
    border-style: solid;
    width: 20%;
    border-radius: 16px;
    padding: 16px;
    gap: 10px;
    background-color: #F3CED4;
}