body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  height: 100vh;
  background-color: #c2b880;
}

.main-logo {
    max-width: 200px;
    max-height: 200px;
}